* {
    margin: 0;
    padding: 0;
}

body {
    background: #191f2c;
    color: #fff;
    font-size: 20px;
}

.App_btn{ display: flex;gap: 10px;justify-content: center;margin-bottom: 50px;}
.App-container{width: 500px;margin: 100px auto;}
.App-board{display: flex;justify-content: space-between;


}