* {
  margin: 0;
  padding: 0;
}

body {
  background: #a5a5a5;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.App_btn {
  display: flex;
}